.cart {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;

  .cart-content {
    width: 540px;
    height: 100%;
    border-left: 1px solid var(--Grey-2, #e1dfe1);
    background: var(--Grey, #f8f6f7);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 63px;

    header.cart-header {
      display: flex;
      justify-content: space-between;

      h1 {
        color: var(--Dark-blue, #10151f);
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      .close-cart {
        width: 32px;
        height: 32px;
        flex-shrink: 0;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        outline: none;
        cursor: pointer;
        background: transparent;

        img {
          width: 18px;
          height: 18px;
          flex-shrink: 0;
        }
      }
    }

    .cart-items-wrapper {
      flex: 1;
      overflow: hidden;

      .cart-items {
        max-height: 100%;
        display: flex;
        flex-direction: column;
        gap: 36px;
        overflow-y: auto;

        .cart-item {
          display: inline-flex;
          align-items: center;
          gap: 17px;
          transition: 0.4s;

          &.removing {
            opacity: 0.5;
            pointer-events: none;
          }

          img {
            width: 100px;
            height: 134px;
            aspect-ratio: 50/67;
            border-radius: 10px;
            border: 1px solid var(--Grey-2, #e1dfe1);
            background: lightgray 50% / cover no-repeat;
          }

          .item-info {
            display: flex;
            width: 343px;
            flex-direction: column;
            align-items: flex-start;
            gap: 13px;

            .item-details {
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              align-self: stretch;

              div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 8px;

                .name {
                  color: var(--Dark-blue, #10151f);
                  font-family: Poppins;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: normal;
                }

                .color,
                .size {
                  align-self: stretch;
                  color: var(--Dark-blue-2, #3e424a);
                  font-family: Poppins;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                }
              }

              .price {
                color: var(--Dark-blue, #10151f);
                text-align: right;
                font-family: Poppins;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                white-space: nowrap;
              }
            }

            .item-controls {
              display: flex;
              justify-content: space-between;
              align-items: center;
              align-self: stretch;

              .amount {
                display: flex;
                padding: 4px 8px;
                align-items: center;
                gap: 2px;
                border-radius: 22px;
                border: 1px solid var(--Grey-2, #e1dfe1);

                p {
                  color: var(--Dark-blue-2, #3e424a);
                  font-family: Poppins;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                }

                .decrease,
                .increase {
                  width: 16px;
                  height: 16px;
                  aspect-ratio: 1/1;
                  border: none;
                  outline: none;
                  cursor: pointer;
                  background: transparent;
                  color: var(--Dark-blue-2, #3e424a);
                }
              }

              .remove {
                color: var(--Dark-blue-2, #3e424a);
                font-family: Poppins;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                opacity: 0.8;
                border: none;
                outline: none;
                cursor: pointer;
                background: transparent;
              }
            }
          }
        }
      }
    }

    .cart-footer {
      display: flex;
      flex-direction: column;
      gap: 102px;

      .cart-summary {
        display: flex;
        width: 460px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;

        div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          align-self: stretch;

          p {
            color: var(--Dark-blue-2, #3e424a);
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }

        .total {
          p {
            color: var(--Dark-blue, #10151f);
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
      }

      .checkout {
        display: flex;
        width: 460px;
        padding: 16px 60px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        background: var(--Red, #ff4000);
        border: none;
        outline: none;
        cursor: pointer;
        transition: 0.3s;

        p {
          color: var(--White, #fff);
          font-family: Poppins;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
  }
}
