.cart {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: flex-end;

  .cart-content {
    width: 540px;
    height: 100%;
    border-left: 1px solid var(--Grey-2, #e1dfe1);
    background: var(--Grey, #f8f6f7);
  }
}
